<!DOCTYPE html>
<html>

{% include generic.head.html %}

<body{% if page.section %} class="c-{{ page.section }}"{% endif%}>

    <!-- Deprecated browser alert -->
    {% include components.browser-alert.html %}
    <!-- End deprecated browser alert -->

    <!-- Page header -->
    {% include components.header.html %}
    <!-- End page header -->

    <div class="c-row c-row--alpha u-pt-epsilon u-pb-epsilon">
        <div class="o-container">
            <h1>{{ page.title }}</h1>
            <p>{{ page.date | date: "%b %-d, %Y" }}</p>
            <hr class="u-mb-epsilon" />
            {{ content }}
        </div>
    </div>

    <div class="c-row c-row--alpha">
        <div class="o-container">
            <section class="o-grid o-grid--gutter">
                <div class="o-grid__item">
                    <h4>Andere Verslagen</h4>
                    <hr>
                    <ul class="o-list">
                        {% for post in site.posts %}
                        {% if post.title == page.title %}
                        <li>
                            Er zijn momenteel geen andere verslagen.
                        </li>
                        {% else %}
                        <li class="u-mb-gamma">
                            <h5 class="u-mb-beta">
                                <a href="{{ site.github.url }}{{ post.url }}">
                                    {{ post.title }}
                                </a>
                            </h5>
                            <p class="u-mb-beta">
                            {% if post.category %}
                            Geplaatst in {{ post.category | capitalize }} op
                            {% endif %}
                            <time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%b %-d, %Y" }}</time></p>
                            {% if post.summary %}
                            <p class="u-mb-beta"><em>{{ post.summary }}</em></p>
                            {% endif %}
                        </li>
                        {% endif %}
                        {% endfor %}
                    </ul>
                </div>
            </section>
        </div>
    </div>

    <!-- Page footer -->
    {% include components.footer.html %}
    <!-- End page footer -->

    <!-- Footer javascript -->
    {% include generic.javascript.html %}
    <!-- End footer javascript -->

</body>
</html>
